#root {
  font-family: "Poppins";
  text-align: center;
  align-items: center;
  height: calc(100vh - 65px);
}

header {
  background: var(--bryntum-primary);
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 40px;
  width: 40px;
  margin-left: 4px;
}

.title-container {
  display: flex;
  color: #fff;
  align-items: center;
  font-size: 1.3em;
  gap: 0.5rem;
}

.title-container h1 {
  font-size: 1.4rem;
  font-weight: 400;
}

.b-calendar {
  min-height: calc(100vh - 57px);
  padding: 0 7px;
  box-shadow: 0.4rem 0.4rem 1.2rem rgb(0 0 0 / 5%);
}

.sign-in-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(128, 128, 128, 0.662);
  color: #181926;
  min-height: 100%;
  min-width: 100%;
}

.sign-in-modal-content {
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  padding-bottom: 2.5rem;
  border-radius: 12px;
}

.sign-in-modal-content-text p {
  position: relative;
  padding: 2rem;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
}

.b-react-button-container {
  display: flex;
  justify-content: center;
}