@import "@bryntum/calendar/fontawesome/css/fontawesome.css";
@import "@bryntum/calendar/fontawesome/css/solid.css";
@import "@bryntum/calendar/calendar.css";
@import "@bryntum/calendar/svalbard-light.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --bryntum-primary: #0076f8;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--bryntum-primary);
}